<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="riakConfig" type="CorrugatedIron.Config.RiakClusterConfiguration, CorrugatedIron" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="bucket" value="riakBenchTest" />
    <add key="maxThreads" value="1" />
    <add key="maxObjSizeKB" value="3000" />
    <add key="minObjSizeKB" value="3000" />
    <add key="itemsToStore" value="1" />
  </appSettings>
  <riakConfig nodePollTime="5000" defaultRetryWaitTime="2000" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="" pbcPort="8081" restScheme="http" restPort="8091" poolSize="20" />
      <node name="dev2" hostAddress="" pbcPort="8082" restScheme="http" restPort="8092" poolSize="20" />
      <node name="dev3" hostAddress="" pbcPort="8083" restScheme="http" restPort="8093" poolSize="20" />
      <!--<node name="dev4" hostAddress="" pbcPort="8084" restScheme="http" restPort="8094" poolSize="20" />-->
    </nodes>
  </riakConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>